# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\david\Desktop\Trabajos\Semestre 4 carrera\Implementacion MC\Implementacion_MC\Actividad3.2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
